.profile__edit-button{
  width: 24px;
  height: 24px;
  padding-left: 18px;
  border: 1px solid #FFFFFF;
  background-color: black;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center center;


}
