.profile__top-info {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  align-items: baseline;
  box-sizing: border-box;
}

@media screen and (max-width: 680px) {
  .profile__top-info {
    gap: 10px;
    max-width: 100%;
  }
}
