.profile {
  display: grid;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns:  120px minmax(335px,1fr) 150px;
}

@media screen and (max-width: 680px) {
  .profile {
    grid-template-columns:  1fr;
    justify-items: center;
  }
}
