.profile {
  display: grid;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns:  120px minmax(264px, max-content) max-content 1fr;

}

@media screen and (max-width: 680px) {
  .profile {
    grid-template-areas:
    ". avatar ."
    ". info edit"
    "add-btn add-btn add-btn";
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: repeat(3,max-content);
    justify-items: center;
  }
}
