.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  /* box-sizing: border-box; */
  margin: 0;
}

@media screen and (max-width: 680px) {
  .header__logo{
    width: 103.74px;
    height: 24.4px;
    margin: 28px 27px 31.6px;
  }
}
