.element__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: heart;
  margin: 31px 20px 30px 20px;
  padding: 0;
  border: 0;
}

.element__heart:hover {
  opacity: .6;
  transition: .3s ease-in-out;
  cursor: pointer;
}
