.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 51px;
  margin-top: 40px;
  margin-bottom: 67px;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

@media screen and (max-width: 680px) {
  .content {
    padding: 0 19px;
    row-gap: 36px;
    margin-top: 40px;
    margin-bottom: 48px;
  }
}
