.element__bucket {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash_backet.svg);
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: image;
  justify-self: flex-end;
  margin: 20px 20px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;

}

.element__bucket:hover {
  opacity: .6;
  transition: .3s ease-in-out;
  cursor: pointer;
}
