.popup__close {
  background-image: url(../../../images/Close\ Icon.svg);
  width: 32px;
  height: 32px;
  background-position: center center;
  position: absolute;
  top: -40px;
  right: -40px;
  align-self: flex-end;
}

.popup__close:hover {
  opacity: .6;
  transition: .3s ease-in-out;
}

@media screen and (max-width: 680px) {
  .popup__close{
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
